<div class="container">
  <div class="action-panel">
    <form [formGroup]="filterForm">
      <mat-form-field style="width: 300px;margin-right: 10px;">
        <mat-label>Search</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="searchControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  
      <mat-form-field style="width: 200px;">
        <mat-label>Role</mat-label>
        <mat-select formControlName="roleControl">
          <mat-option [value]="null">
            None
          </mat-option>
          <mat-option *ngFor="let singleRole of roles" [value]="singleRole._id">
            {{singleRole.name}}
        </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
    <div class="action-panel end">
        <button mat-raised-button color="primary" (click)="openDialogCreate()">Add User</button>
    </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="table">
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
            <div>
              <button mat-icon-button (click)="openDialogUpdate(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="delete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
